
@{
    ViewBag.Title = "ListaComAViewTipada";
}

<h2>ListaComAViewTipada</h2>


<div>
    <h2> Informações da Pessoa que veio da tela </h2>
    <div>
        <b>Nome: </b>
    </div>
    <div>
        @Model.Nome
    </div>
    <div>
        <b>
            Id:
        </b>
    </div>
    <div>
        @Model.PessoaId
    </div>


    <div>
        <b>
            Tipo Pessoa:
        </b>
    </div>
    <div>
        @Model.Tipo
    </div>

    <a href="~/"> Voltar </a>




</div>